<link rel="stylesheet" href="../css/addroomdetail.css">
<script src="../js/addroomdetail.js"></script>

<script>
  $(document).ready(function() {
  $(document).on('click', '.addService', function(){
  var html = '<div><input type="text" class ="addroomdetailformel remove_field specialfeature" name="myInput"><button type="button" class="removeService">-</button></div>';
  $(this).parent().append(html);
});

 $(document).on('click', '.removeService', function(){
 $(this).parent('div').remove();
})
 
 $(document).on('click', '.addService1', function(){
  var html = '<div><input type="text" class ="addroomdetailformel remove_field extrainfo " name="myInput"><button type="button" class="removeService1">-</button></div>';
  $(this).parent().append(html);
});

 $(document).on('click', '.removeService1', function(){
 $(this).parent('div').remove();
})



 $('#Roomfor').multiselect({
  nonSelectedText: 'Room For',
  enableFiltering: true,
  enableCaseInsensitiveFiltering: true,
  buttonWidth:'400px'
 });


 $('#facility').multiselect({
  nonSelectedText: 'Choose Facilities',
  enableFiltering: true,
  enableCaseInsensitiveFiltering: true,
  buttonWidth:'400px'
 });
 $('#facility').hide();
 $('#Roomfor').hide();
});
</script>

<div class="addRoomDetail">

<h2 class="roomDetail"> <strong>Add Room Detail</strong></h2>

<div class="container">
  <form >
    <h4>Owner Detail</h4>
      <div class="row">
      <div class="col-sm-6">
      <div class="col-25">
        <label for="ownerfirstname">First Name</label>
      </div>
      <div class="col-75">
        <input id="ownerfirstname" type="text" class="addroomdetailformel" name="ownerfirstname" placeholder="" ></input>
      </div>
      </div>
      <div class="col-sm-6">
      <div class="col-25">
        <label for="ownerlastname">Last Name</label>
      </div>
      <div class="col-75">
        <input id="ownerlastname" type="text" class="addroomdetailformel" name="ownerlastname" placeholder="" ></input>
      </div>
      </div>
    </div>
          <div class="row">
      <div class="col-sm-6">
      <div class="col-25">
        <label for="owneremailid">Email Id</label>
      </div>
      <div class="col-75">
        <input id="owneremailid" type="text" class="addroomdetailformel" name="owneremailid" placeholder="" ></input>
      </div>
      </div>
       <div class="col-sm-6">
      <div class="col-25">
        <label for="contactno">Contact Number</label>
      </div>
      <div class="col-75">
        <input id="contactno" type="text" class="addroomdetailformel" name="contactno" placeholder="Write something.." ></input>
      </div>
      </div>
    </div>
             <div class="row">
      <div class="col-sm-6">
      <div class="col-25">
        <label for="owneradress">Address</label>
      </div>
      <div class="col-75">
        <input id="owneradress" type="text" class="addroomdetailformel" name="owneradress" placeholder="" ></input>
      </div>
      </div>
       <div class="col-sm-6">
      <div class="col-25">
        <label for="ownerrent">Rent Agreed(in Rs)</label>
      </div>
      <div class="col-75">
        <input id="ownerrent" type="text" class="addroomdetailformel" name="ownerrent" placeholder="" ></input>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="col-25">
        <label for="State" >State</label>
      </div>
      <div class="col-75">
        <select id="State" class="addroomdetailformelement" name="State">
          {{#each loadadddetailpagedata.loadStatelist}}
          <option value="{{ this.id }}">{{ this.statename }}</option>
          
           {{/each}}
        </select>
      </div>

   </div>
      <div class="col-sm-6">
       
        <div class="col-25">
        <label for="City" >City</label>
      </div>
      <div class="col-75">
        <select id="City" class="addroomdetailformelement" name="City">
          {{#each loadadddetailpagedata.loadCitylist}}
          <option value="{{ this.id }}">{{ this.cityname }}</option>
          {{/each}}
        </select>
      </div>

   
      </div>
    </div>

      <div class="row">
      <div class="col-sm-6">
        <div class="col-25">
        <label for="Ownername" >Owner Name</label>
      </div>
      <div class="col-75">
        <select id="Ownername" class="addroomdetailformelement" name="Ownername">
          {{#each loadadddetailpagedata.loadVendorlist}}
          <option value="{{ this.id }}">{{ this.username }}</option>
          {{/each}}
        </select>
      </div>

   </div>
      <div class="col-sm-6">
       
        <div class="col-25">
        <label for="Roomtype" >Room Type</label>
      </div>
      <div class="col-75">
        <select id="Roomtype" class="addroomdetailformelement" name="Roomtype">
         {{#each loadadddetailpagedata.loadRoomrentlist}}
          <option value="{{ this.id }}">{{ this.roomrentname }}</option>
          {{/each}}
        </select>
      </div>

   
      </div>
    </div>



    <div class="row">
      <div class="col-sm-6">
      <div class="col-25">
        <label for="contactno">Contact Number</label>
      </div>
      <div class="col-75">
        <input id="contactno" type="text" class="addroomdetailformel" name="contactno" placeholder="Write something.." ></input>
      </div>
      </div>
      <div class="col-sm-6">
      <div class="col-25">
        <label for="maxpeople">Maximum People allowed</label>
      </div>
      <div class="col-75">
        <input id="maxpeople" type="text" class="addroomdetailformel" name="maxpeople" placeholder="Write something.." ></input>
      </div>
      </div>
    </div>

    
    <div class="row">
      <div class="col-sm-6">
        <div class="col-25">
        <label for="facility" >Facility</label>
      </div>
      <div class="col-75">
        <select id="facility" class="addroomdetailformelement" name="facility"  multiple="multiple">
          {{#each loadadddetailpagedata.loadFacilitylist}}
          <option value="{{ this.id }}">{{ this.facilityname }}</option>
          {{/each}}
        </select>
      </div>

   </div>
      <div class="col-sm-6">
        <div class="col-25">
        <label for="Roomfor" >Room For</label>
      </div>
      <div class="col-75">
        <select id="Roomfor" class="addroomdetailformelement" name="Roomfor"  multiple="multiple">
          {{#each loadadddetailpagedata.loadroomapplicabletypelist}}
          <option value="{{ this.id }}">{{ this.applicabletype }}</option>
          {{/each}}
        </select>
      </div>

   </div>
    </div>
 </form>
 
   <form id="imagefileupload" class="formValidate" enctype="multipart/form-data"  charset="UTF-8">
    <div class="row">
      <div class="col-sm-6">
      <div class="col-25">
        <label for="myFile">Upload Primary Room image</label>
      </div>
      <div class="col-75">
       <input type="file" id="myFile" name="files" > 
       </div>
    </div>
    <div class="col-sm-6">
      <div class="col-25">
        <label for="myFilesecondary">Upload  Room image</label>
      </div>
      <div class="col-75">
       <input type="file" id="myFilesecondary" name="files" multiple="true"> 
       </div>
    </div>
    </div>
</form>
<form>
        <div class="row">
      <div class="col-sm-12">
      <div class="col-25">
        <label for="address">Address Detail</label>
      </div>
      <div class="col-75">
        <input id="address" type="text" class="addroomdetailformel" name="address" placeholder="Write something.." ></input>
      </div>
      </div>
    </div>

        <div class="row">
      <div class="col-sm-12">
      <div class="col-25">
        <label for="landmark">Land Mark</label>
      </div>
      <div class="col-75">
        <input id="landmark" type="text" class="addroomdetailformel" name="landmark" placeholder="Write something.." ></input>
      </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
      <div class="col-25">
        <label for="subject">Special Feature</label>
      </div>
      <div class="col-75">
         <input type="text" class ="addroomdetailformel specialfeature" name='+value+'[]>
      <button type="button" class="addService">+</button></div>
      </div>
    </div>
  
     <div class="row">
      <div class="col-sm-12">
      <div class="col-25">
        <label for="subject">Extra Information</label>
      </div>
      <div class="col-75">
         <input type="text" class ="addroomdetailformel extrainfo" name='+value+'[]>
      <button type="button" class="addService1">+</button></div>
      </div>
    </div>

   

       <div class="row">
      <div class="col-25">
        <label for="roomdetail">Room Detail</label>
      </div>
      <div class="col-75">
        <textarea id="roomdetail" class="addroomdetailformelement" name="roomdetail" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>

   
    <div class="row">
      <button type="button" class="Addproperty" onclick="addRoomDetail()" value="Submit">Add Property</button>
    </div>
  </form>
</div>
</div>

 