<script src="../js/roomlist.js"></script>  
  <script>
      $(document).ready(function() {
      $('#example').DataTable();
       $('#example1').DataTable();
    
      
  } );
  function addRoomDetailbtn(){
 
      location.href = "/addroomdetails"
  }
  </script>

  <link rel="stylesheet" href="../css/roomlist.css">

   <style>
    
</style>
<div class="container-fluid">
<div class="admincontainer">
    <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#roomlist">Roomlist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#bookavisit">Book A visit</a>
  </li>
  </ul>
<div class="tab-content">

  <div id ="roomlist" class="container-table bg-grey tab-pane fade in active">
  <div class="row">
      
    <div>
      <button class="btn btn-default adminaddbtn" type="button" id="addroom" onclick="addRoomDetailbtn()">Add Rooms</button>
        
    </div>
      
  <table id="example" class="table table-striped table-bordered " style="width:100%">
          <thead>
              <tr class="theadstyle">
                  <th>Owner Name</th>
                  <th>Contact No</th>
                  <th>Address Detail</th>
                  <th>Status</th>
                  <th>Edit</th>
                  <th>Delete</th>
                  
              </tr>
          </thead>
          <tbody>
            
            {{#each loadRoomListdata}}
              <tr>
                  <td>{{this.ownername}}</td>
                  <td>{{this.contactno}}</td>
                  <td>{{this.address}}</td>
                  <td>{{this.bookingstatus}}</td>
                  <td><button class="btn btn-primary edit roomlisttableedit"  data-id="{{this.roomid}}" ><span class="glyphicon glyphicon-edit"></button></td>
                  <td><button class="btn btn-primary delete roomlisttabledelete" data-id="{{this.roomid}}"><span class="glyphicon glyphicon-remove"></button></td>
              </tr>
              {{/each}}
          </tbody>
          
      </table></div></div>
     
      <div id ="bookavisit" class="tab-pane fade">
        {{#each isrequestedvist}}
  <div class="row userlistrow">
      <div class="col-sm-4">
<img class ="userlistimg" src="../img/mtm1.jpeg" alt="Los Angeles">
      </div>
       <div class="col-sm-4">
           <p class="Userlistdetail">Rent Rs {{this.finalrent}}</p>
           <p class="Userlistdetail">{{this.locationname}}</p>
           <p class="Userlistdetail">2 BHK Room for Family</p>

      </div>
       <div class="col-sm-4">
           
           <p class="Userlistdetail">User Name :  {{this.finalusername}}</p>
           <p class="Userlistdetail">Contact No :  {{this.userphoneno}}</p>
           <p class="Userlistdetail">Email ID : {{this.useremailid}}</p>
       </div>
      
   
      
  
    </div> 
    {{/each}}
      </div>
      </div></div>