<link rel="stylesheet" href="../css/updateroomdetail.css">
<script src="../js/updateroomdetail.js"></script>

<script>
  function getUrlVars() {
  var vars = [], hash;
  var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
  for (var i = 0; i < hashes.length; i++) {
    hash = hashes[i].split('=');
    vars.push(hash[0]);
    vars[hash[0]] = hash[1];
  }
  return vars;
}


  $(document).ready(function() {

   var Room_ID = getUrlVars()["Room_ID"];
 

   
     console.log(Room_ID);
    $.ajax({
        url: "/viewRoomdetail",
        method: "POST",
        data: {
          'id':Room_ID
        },
        success: function (response) {
          console.log(response);
          console.log(response[0].id);
          $('#updState').val(response[0].stateid);
          $('#updOwnername').val(response[0].ownerid);
          $('#updRoomtype').val(response[0].roomtype);
          $('#updcontactno').val(response[0].contactno);
          $('#updmaxpeople').val(response[0].maxpeople);
          $('#updfacility').multiselect('select', response[0].facilitiesid);
           $('#updRoomfor').multiselect('select', response[0].applicablepeopletype);
          //$('#updmyFile').val(response[0].primaryimage);
          //$('#updmyFilesecondary').val(response[0].otherimages);
          $('#updaddress').val(response[0].addressdetail);
          $('#updlandmark').val(response[0].roomrent);
          $('#updroomdetail').val(response[0].roomdetail);
          $('#updateroomdetailbtn').attr('data-id' , response[0].id);
          // var data = JSON.parse(response);
          
    $('#updlati_typeadmin').val(response[0].latitude);
    $('#updlog_typeadmin').val(response[0].longitude);
    $('#updLocationame').val(response[0].locationname);
    $('#updownerfirstname').val(response[0].ownerfisrtname);
    $('#updownerlastname').val(response[0].ownerlastname);
    $('#updowneremailid').val(response[0].owneremailid:);
    $('#updowneradress').val(response[0].owneraddress);
    $('#updownerrent').val(response[0].roomrent);
    $('#updfurnished').text(response[0].furnished);
    $('#updpropertyarea').val(response[0].roomarea);
    $('#updelectbill').val(response[0]. electricitybill);
    $('#updwaterbill').val(response[0].waterbill);
    $('#updmaintcharge').val(response[0].maintainancefee);
    $('#updsecdepo').val(response[0]. securitydeposit);
    $('#updmtccharge').val(response[0].mtccharge);
    $('#updmtcrent').val(response[0].mtcroomrent);
    $('#updfinalrent').val(response[0].finalrent);
    $('#updaddcharges').val(response[0].roomdetail);
     $('#updaddcomment').val(response[0].addcomments);

         
        }
});


 
  $(document).on('click', '.addService', function(){
  var html = '<div><input type="text" class ="addroomdetailformel remove_field specialfeature" name="myInput"><button type="button" class="removeService">-</button></div>';
  $(this).parent().append(html);
});

 $(document).on('click', '.removeService', function(){
 $(this).parent('div').remove();
})
 
 $(document).on('click', '.addService1', function(){
  var html = '<div><input type="text" class ="addroomdetailformel remove_field extrainfo " name="myInput"><button type="button" class="removeService1">-</button></div>';
  $(this).parent().append(html);
});

 $(document).on('click', '.removeService1', function(){
 $(this).parent('div').remove();
})



 $('#updRoomfor').multiselect({
  nonSelectedText: 'Room For',
  enableFiltering: true,
  enableCaseInsensitiveFiltering: true,
  buttonWidth:'400px'
 });


 $('#updfacility').multiselect({
  nonSelectedText: 'Choose Facilities',
  enableFiltering: true,
  enableCaseInsensitiveFiltering: true,
  buttonWidth:'400px'
 });
 $('#updfacility').hide();
 $('#updRoomfor').hide();
});
</script>

<div class="container-fluid">
 <div class="updRoomDetail">

<h2 class="roomDetail"> <strong>Update Room Detail</strong></h2>

<div class="container">
  <form >
    <h4 class="addpropertydet">Owner Detail</h4>
      <div class="row">
      <div class="col-sm-6">
      <div class="col-25">
        <label for="updownerfirstname">First Name</label>
      </div>
      <div class="col-75">
        <input id="updownerfirstname" type="text" class="addroomdetailformel" name="updownerfirstname" placeholder="" ></input>
      </div>
      </div>
      <div class="col-sm-6">
      <div class="col-25">
        <label for="updownerlastname">Last Name</label>
      </div>
      <div class="col-75">
        <input id="updownerlastname" type="text" class="addroomdetailformel" name="updownerlastname" placeholder="" ></input>
      </div>
      </div>
    </div>
          <div class="row">
      <div class="col-sm-6">
      <div class="col-25">
        <label for="updowneremailid">Email Id</label>
      </div>
      <div class="col-75">
        <input id="updowneremailid" type="text" class="addroomdetailformel" name="updowneremailid" placeholder="" ></input>
      </div>
      </div>
       <div class="col-sm-6">
      <div class="col-25">
        <label for="updcontactno">Contact Number</label>
      </div>
      <div class="col-75">
        <input id="updcontactno" type="text" class="addroomdetailformel" name="updcontactno" placeholder="Write something.." ></input>
      </div>
      </div>
    </div>
             <div class="row">
      <div class="col-sm-6">
      <div class="col-25">
        <label for="updowneradress">Address</label>
      </div>
      <div class="col-75">
        <input id="updowneradress" type="text" class="addroomdetailformel" name="updowneradress" placeholder="" ></input>
      </div>
      </div>
       <div class="col-sm-6">
      <div class="col-25">
        <label for="updownerrent">Rent Agreed</label>
      </div>
      <div class="col-75">
        <input id="updownerrent" type="text" class="addroomdetailformel" name="updownerrent" placeholder="(in Rs)" ></input>
      </div>
      </div>
    </div>

    <h4 class="addpropertydet">Property Detail</h4>
    <div class="row">
      <div class="col-sm-6">
        <div class="col-25">
        <label for="updState" >State</label>
      </div>
      <div class="col-75">
        <select id="updState" class="addroomdetailformelement" name="updState" disabled>
          
          {{#each loadadddetailpagedata.loadStatelist}}
          <option  value="{{ this.id }}">{{ this.statename }}</option>
          
           {{/each}}
        </select>
      </div>

   </div>
      <div class="col-sm-6">
       
        <div class="col-25">
        <label for="updCity" >City</label>
      </div>
      <div class="col-75">
        <select id="updCity" class="addroomdetailformelement" name="updCity" disabled>
          {{#each loadadddetailpagedata.loadCitylist}}
          <option  value="{{ this.id }}">{{ this.cityname }}</option>
          {{/each}}
        </select>
      </div>

   
      </div>
    </div>

      <div class="row">
      <div class="col-sm-6">
        <div class="col-25">
        <label for="updLocationame" >Location Name </label>
      </div>
      <div class="col-75">
          <input id="updLocationame" type="text" class="addroomdetailformel" name="updLocationame" placeholder="Type Location Name here.." ></input>
          <input  id="updlog_typeadmin"  type="hidden" >
          <input  id="updlati_typeadmin"  type="hidden" >
            <label id="updlblresult"></label>
      </div>

   </div>
      <div class="col-sm-6">
       
        <div class="col-25">
        <label for="updRoomtype" >Room Type</label>
      </div>
      <div class="col-75">
        <select id="updRoomtype" class="addroomdetailformelement" name="updRoomtype">
          <option value="" selected >Please Choose</option>
         {{#each loadadddetailpagedata.loadRoomrentlist}}
          <option value="{{ this.id }}">{{ this.roomrentname }}</option>
          {{/each}}
        </select>
      </div>

   
      </div>
    </div>



    <div class="row">
      <div class="col-sm-6">
      <div class="col-25">
        <label for="updfurnished">Furnishing Type</label>
      </div>
      <div class="col-75">
         <select id="updfurnished" class="addroomdetailformelement" name="updfurnished">
          <option value="" selected >Please Choose</option>
         
          <option value="1">Furnished</option>
          <option value="2">Semi Furnished</option>
          <option value="3">Not Furnished</option>
          
        </select>
        </div>
      </div>
      <div class="col-sm-6">
      <div class="col-25">
        <label for="updpropertyarea">Property Area</label>
      </div>
      <div class="col-75">
        <input id="updpropertyarea" type="text" class="addroomdetailformel" name="updpropertyarea" placeholder="in (Sq.Ft)" ></input>
      </div>
      </div>
    </div>

    
    <div class="row">
      <div class="col-sm-6">
        <div class="col-25">
        <label for="updfacility" >Facility</label>
      </div>
      <div class="col-75">
        <select id="updfacility" class="addroomdetailformelement" name="updfacility"  multiple="multiple">
          {{#each loadadddetailpagedata.loadFacilitylist}}
          <option value="{{ this.id }}">{{ this.facilityname }}</option>
          {{/each}}
        </select>
      </div>

   </div>
      <div class="col-sm-6">
        <div class="col-25">
        <label for="updRoomfor" >Room For</label>
      </div>
      <div class="col-75">
        <select id="updRoomfor" class="addroomdetailformelement" name="updRoomfor"  multiple="multiple">
          {{#each loadadddetailpagedata.loadroomapplicabletypelist}}
          <option value="{{ this.id }}">{{ this.applicabletype }}</option>
          {{/each}}
        </select>
      </div>

   </div>
    </div>
 </form>
 
   <form id="updimagefileupload" class="formValidate" enctype="multipart/form-data"  charset="UTF-8">
    <div class="row">
      <div class="col-sm-6">
      <div class="col-25">
        <label for="myFile">Upload Primary Room image</label>
      </div>
      <div class="col-75">
       <input type="file" id="updmyFile" name="files" > 
       </div>
    </div>

     <div class="col-sm-6">
     
      <div class="col-75">
        <button type="button" class="Addproperty" onclick="updRoomDetail1()" value="Submit">Upload</button>
   
       </div>
    </div>
    
    
    </div>
</form>

<form id="updimagefileuploadsec" class="formValidate"  enctype="multipart/form-data"  charset="UTF-8">
  <div class="row">
  <div class="col-sm-6">
      <div class="col-25">
        <label for="updmyFilesecondary">Other Room image</label>
      </div>
      <div class="col-75">
       <input type="file" id="updmyFilesecondary" name="files[]" multiple="multiple"> 
       </div>
    </div>
     <div class="col-sm-6">
     
      <div class="col-75">
        <button type="button" class="Addproperty" onclick="updRoomDetail2()" value="Submit">Upload</button>
   
       </div>
    </div>
    </div>
  </form>
<form>
        <div class="row">
      <div class="col-sm-12">
      <div class="col-25">
        <label for="updaddress">Address Detail</label>
      </div>
      <div class="col-75">
        <input id="updaddress" type="text" class="addroomdetailformel" name="updaddress" placeholder="Write something.." ></input>
      </div>
      </div>
    </div>

        <div class="row">
      <div class="col-sm-12">
      <div class="col-25">
        <label for="updlandmark">Land Mark</label>
      </div>
      <div class="col-75">
        <input id="updlandmark" type="text" class="addroomdetailformel" name="updlandmark" placeholder="Write something.." ></input>
      </div>
      </div>
    </div>

       <div class="row">
         <div class="col-sm-12">
      <div class="col-25">
        <label for="updroomdetail">Room Detail</label>
      </div>
      <div class="col-75">
        <textarea id="updroomdetail" class="addroomdetailformelement" name="updroomdetail" placeholder="Write something.." style="height:200px"></textarea>
      </div>
      </div>
    </div>

    <h4 class="addpropertydet">MTC Rent Detail</h4>
      <div class="row">
      <div class="col-sm-6">
      <div class="col-25">
        <label for="updelectbill">Electricity Bill</label>
      </div>
      <div class="col-75">
        <input id="updelectbill" type="text" class="addroomdetailformel" name="updelectbill" placeholder="(In Rs/)" ></input>
      </div>
      </div>
       <div class="col-sm-6">
      <div class="col-25">
        <label for="updwaterbill">Water Bill</label>
      </div>
      <div class="col-75">
        <input id="updwaterbill" type="text" class="addroomdetailformel" name="updwaterbill" placeholder="(In Rs/)" ></input>
      </div>
      </div>
    </div>

          <div class="row">
      <div class="col-sm-6">
      <div class="col-25">
        <label for="updmaintcharge">Maintainance Charge</label>
      </div>
      <div class="col-75">
        <input id="updmaintcharge" type="text" class="addroomdetailformel" name="updmaintcharge" placeholder="(In Rs/)" ></input>
      </div>
      </div>
       <div class="col-sm-6">
      <div class="col-25">
        <label for="updsecdepo">Security Deposit</label>
      </div>
      <div class="col-75">
        <input id="updsecdepo" type="text" class="addroomdetailformel" name="updsecdepo" placeholder="(In Rs/)" ></input>
      </div>
      </div>
    </div>

      <div class="row">
      <div class="col-sm-6">
      <div class="col-25">
        <label for="updmtccharge">MTC Charge</label>
      </div>
      <div class="col-75">
        <input id="updmtccharge" type="text" class="addroomdetailformel" name="updmtccharge" placeholder="(In Rs/)" ></input>
      </div>
      </div>
       <div class="col-sm-6">
      <div class="col-25">
        <label for="updmtcrent">MTC rent</label>
      </div>
      <div class="col-75">
        <input id="updmtcrent" type="text" class="addroomdetailformel" name="updmtcrent" placeholder="(In Rs/)" ></input>
      </div>
      </div>
    </div>
    
    <div class="row">
     
       <div class="col-sm-6">
      <div class="col-25">
        <label for="updfinalrent">Final Room Charge</label>
      </div>
      <div class="col-75">
        <input id="updfinalrent" type="text" class="addroomdetailformel" name="updfinalrent" placeholder="(In Rs/)" ></input>
      </div>
      </div>
       <div class="col-sm-6">
      <div class="col-25">
        <label for="updaddcharges"> Additional Charges</label>
      </div>
      <div class="col-75">
        <input id="updaddcharges" type="text" class="addroomdetailformel" name="updaddcharges" placeholder="" ></input>
      </div>
      </div>
    </div>

           <div class="row">
         <div class="col-sm-12">
      <div class="col-25">
        <label for="updaddcomment">Add comment</label>
      </div>
      <div class="col-75">
        <textarea id="updaddcomment" class="addroomdetailformelement" name="updaddcomment" placeholder="Write something.." style="height:200px"></textarea>
      </div>
      </div>
    </div>

   
    <div class="row">
      <button type="button" class="Addproperty" id="updateroomdetailbtn" data-id="" value="Submit">Update Property</button>
    </div>
  </form>
</div>
</div>
</div>
 